# Путь к папке с лекциями
PATH_TO_LECTURE=path/to/your/folder

# Путь к папке с файлом jsonl куда сохранятся подготовленные чанки
PATH_TO_CHUNKED=path/to/your/folder/chunks.jsonl

# Путь к папке куда сохраняем векторную бд (в нашем случае qdrant)
PATH_TO_VECTOR_DB=path/to/your/folder

# Путь к созданной векторной бд
PATH_TO_VECTOR_DB=path/to/your/folder

# qdrant коллекция
QDRANT_COLLECTION=lectures

# эмбединг модель по дефолту bge-m3
EMBEDDING_MODEL=BAAI/bge-m3

# подключаем gpt-4o-mini как генерирующую ответ модель
OPENROUTER_MODEL=openai/gpt-4o-mini

# апи ключ
OPENROUTER_API_KEY=123456789
